@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;700&display=swap');
@plugin "@iconify/tailwind4";


body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar awal transparan */
.navbar-transparent {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Navbar saat discroll */
.navbar-solid {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Link teks saat transparan */
.nav-link-transparent {
  color: white;
  transition: color 0.3s ease;
}

/* Link teks saat navbar solid */
.nav-link-solid {
  color: black; /* warna emas Tailwind */
  transition: color 0.3s ease;
}


